.container{
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(220, 220, 220, 0.767);
    justify-content: center;
    position: relative;
}

.cardContainer{
    padding: 5px;
    display: flex;
    justify-content: space-between;
   
}
.containerCard{
    background-color: white;
    margin: 10px;
    position: relative;

}
.containerImage{
    position: absolute;
    top: -10px;
    left: -10px;
}
.img{
    width: 120px;
    height: 120px;
    border-radius: 50%;}
.containerLeft{
    width: 50%;
    color: gray;
    padding-top: 33%;
    display: flex;
    flex-direction: column;
  justify-content: start;
}
.containerInfo{
    color: gray;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
  justify-content: start;
}
.info{
    margin: 0;
    padding: 0;
    font-size: small;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
    
}
.containerRight{
   width: 50%;
    height: 200px;
    color: gray;
    display: flex;
    flex-direction: column;
  justify-content: start;
}
.infoRight{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    height:30%;

}
.containerBbtn{
    height: 70%;
    position: relative;

}
.buton{
    position: absolute;
    bottom: 0px;
    margin-top:15%;
    background-color: red;
    color: white;
    border-color: red;
}
.containeardrInfo{
    border: 1px solid orange;
}
.infoDescription{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    overflow: hidden;
}

