<div class="container">
  <div
    *ngFor="let character of characters"
    class="containerCard"
    style="width: 18rem"
  >
    <div class="cardContainer">
      <!-- containerLeft -->
      <div class="containerLeft">
        <!-- Container Image -->
        <div class="containerImage">
          <img
            class="img"
            [src]="
              character.thumbnail.path + '.' + character.thumbnail.extension
            "
            alt="{{ character.name }}"
          />
        </div>
        <!-- Container Botton -->
        <div class="containerInfo">
          <p><strong>Related Comics</strong></p>
          <p class="info">
            Comics: # {{character.comics.available}}
            
          </p>
        </div>
      </div>

      <!--Container Right -->
      <div class="containerRight">
       
        <div class="containerBbtn">
          <strong>{{ character.name }}</strong>
          <small class="infoDescription">{{ character.description }}</small>
 
          <button type="button" class="buton" (click)="modal.openModal()">View More</button>
        </div>
        
       

        <div class="infoRight">
          <p class="info">Series: #{{character.series.available}}</p>
          <p class="info">Stories: #{{character.stories.available}}</p>
        </div>

      </div>
    </div>
  </div>
  <!-- Modal -->
        <!-- Add the modal component after the loop -->
    
        <app-modal #modal [character]="selectedCharacter"></app-modal>
</div>

          
       