<div class="container">
  <div
    *ngFor="let character of characters"
    class="containerCard"
    style="width: 18rem"
  >
    <div class="cardContainer">
      <!-- containerLeft -->
      <div class="containerLeft">
        <!-- Container Image -->
        <div class="containerImage">
          <img
            class="img"
            [src]="
              character.thumbnail.path + '.' + character.thumbnail.extension
            "
            alt="{{ character.name }}"
          />
        </div>
        <!-- Container Botton -->
        <div class="containerInfo">
          <p><strong>Related Comics</strong></p>
          <p class="info">
            Lorem ipsum dolor sit amet consectetur adipisicing elit222222.
          </p>
        </div>
      </div>

      <!--Container Right -->
      <div class="containerRight">
        <small class="card-text">{{ character.description }}</small>
        <div class="containerBbtn">
          <strong>{{ character.name }}</strong>
          <p class="info">{{ character.description }}</p>
          <button type="submit" class="buton">View More</button>
        </div>
        <div class="infoRight">
          <p class="info">lorem impsump</p>
          <p class="info">lorem impsump</p>
        </div>
      </div>
    </div>
  </div>
</div>
